   {% extends 'base.html' %}
   {% block content %}
   {% load cart %}
   {% load custom %}
   
   <link rel="stylesheet" href="/static/css/main.css">
   <!-- {{products}} -->
   <div class="container-fluid mt-3 ">
     <!-- <div class="container mx-auto"> -->
       <div class="row ">
         <!-- filter -->
         <div class="col-lg-3 mx-auto mb-3 ">
           <div class="list-group">
             <a href="" class="list-group-item ">
               All Products
             </a>
             {% for category in category %}
             <a href="?category={{category.id}}" class="list-group-item cat">
               {{category.name}}
             </a>
             {% endfor %}
           </div>
         </div>
     
         <!-- all products -->
         <div id="products" class="col-lg-9 mx-auto ">
           <!-- <div class="container mx-auto"> -->
             <div class="row mx-auto ">
               {% for product in products %}
               <div class="card mx-auto mb-3 main" id="{{product.id}}" style="width: 18rem;">
                 <img src="{{product.image.url}}" class="card-img-top" alt
                   style="height: 100%;">
                 <div class="card-body">
                   <h5 class="card-title">
                     {{product.name}}
                   </h5>
                   <p class="card-text">
                     {{product.price|currency}}
                   </p>
                   <!-- {{ product|is_in_cart:request.session.cart }} -->
   
                 </div>
   
   
                 <div class="cart-footer p-0 m-0 row ">
                   {% if product|is_in_cart:request.session.cart %}
                   <div class="row" >
                     <form action="#{{product.id}}" method="post" class="col-2">
                       {% csrf_token %}
                       <input type="text" hidden="" value="True" name="remove">
                       <input type="text" hidden="" value="{{product.id}}" name="product">
                       <input type="submit" value="-" class="btn btn-block  bg-body-secondary ">
                     </form>
                   <div class="text-center col ">{{product|cart_quantity:request.session.cart}} in cart</div>
   
                   <form action="#{{product.id}}" method="post" class="col-2">
                     {% csrf_token %}
                     <input type="text" hidden="" value="{{product.id}}" name="product">
                   <input type="submit" value="+" class="btn btn-block bg-body-secondary ">
                   </form>
                   </div>
                   {% else %}
                   <form action="#{{product.id}}" method="post" class="btn-block ">
                     {% csrf_token %}
                     <input type="text" hidden="" value="{{product.id}}" name="product">
                     <input type="submit" class=" float-end btn  form-control mb-2" value="Add to cart" style="background: pink; color: blueviolet;">
                   </form>
                   {% endif %}
                   
                 </div>
               </div>
               {% endfor %}
             </div>
           </div>
         </div>
     
       </div>
     </div>
   </div>
   
   {% endblock %}
   